body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

.nav-link {
    color: #93b1cc;
}

.nav-link:hover {
    color: white;
}

h5 {
    color:black;
    text-align: center;
}

p {
    text-align: center;
}

.hakkimizda {
    color: rgb(42, 189, 72);
    text-align: left;
}

.paragraf {
    text-align: left;
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

img {
    width: 350px;
    height: 200px;
}

.button {
    display: inline-block;
    border-radius: 6px;
    background-color: #ab8b81;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}